<!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Chat Panel
          </h1>
          <ol class="breadcrumb">
            <li><a href="#" class="active"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#" ui-sref="app.collab">Collaborate</a></li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            
           
          
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>1</h3>
                  <p>Coding Session</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer" >Add New Code Session <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
          </div><!-- /.row -->
          <!-- Main row -->
          <div class="row">
            <div class="col col-md-12">

            <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Coding Sessions and Members</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-bordered table-striped">
                    <tr class="success">
                      
                      <th style="width: 40%">Coding sessions </th>
                      <th style="width: 40%">Members Involved</th>
                      <th style="width: 20%">Coding Language</th>
                    </tr>
                    <tr ng-repeat="session in sessions">
                      
                      <td>##session.name##    
                        <div class="btn-group" style="margin-left: 20px;">
                          <button type="button" class="btn btn-info"  data-toggle="tooltip" title="View Current Code Session" ui-sref="app.collab"><i class="glyphicon glyphicon-eye-open"></i></button>
                          <button type="button" class="btn btn-info" data-toggle="tooltip" title="Invite Member to Code Session"><i class="glyphicon glyphicon-user"></i></button>
                          <button type="button" class="btn btn-info" data-toggle="tooltip" title="Delete Present Session"><i class="glyphicon glyphicon-remove"></i></button>
                        </div>
                      </td>
                      <td>
                       <span class="label label-info" ng-repeat="member in session.members">##member##</span>
                      </td>
                      <td><span class="badge bg-red">##session.language##</span></td>
                    </tr>
                  
                    
                  </table>
                </div><!-- /.box-body -->

                <div class="box-footer clearfix">
                  <button type="button" class="btn btn-inverse pull-right"  data-toggle="tooltip" title="Add New Code Session" ng-click="openSessionModal()"><i class="glyphicon glyphicon-plus" ></i></button>
                </div>


                <!-- Modal -->
                <div class="modal modal-inverse fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                      </div>
                      <div class="modal-body">
                        
                          <div class="form-group">
                            <label>Code Session: </label>
                            <input type="text" ng-model="data.session_name" placeholder="Name of Coding Session" style="width: 100%"/>
                          </div><!-- /.form-group -->


                          <div class="form-group">
                            <label>Code Language</label>
                            <select class="form-control select2" style="width: 100%;" ng-model="data.language">
                              <option selected="selected" value="python">Python</option>
                              <option value="javascript">Javascript</option>
                              <option value="html">HTML</option>
                              <option value="sql">SQL</option>
                              <option value="css">CSS</option>
                              <option value="ruby">Ruby</option>
                            </select>
                          </div><!-- /.form-group -->

                          <div class="form-group">
                            <label>Add Members</label>
                            <select class="form-control select2" style="width: 100%;" ng-model="data.members" multiple>
                             <option ng-repeat="user in users"value="##user.member##">##user.name##</option>
                            </select>
                          </div><!-- /.form-group -->

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveSessionChanges()">Create</button>
                      </div>
                    </div>
                    
                  </div>
                </div>
  

              </div><!-- /.box -->
            </div>

          </div>
        </section>

       
            
      </div><!-- /.content-wrapper -->