<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar" >

          <ul class="sidebar-menu">
            <li class="header">Users</li>
            <li class="active treeview" id="online-mem">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Members</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu" ng-repeat="user in users">
                <li><a href="index.html"><i class="fa fa-circle-o"></i> ##user.name##</a></li>
              </ul>
            </li>

            
            

           


           
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      
        
      

